

/** Display settings **/

.d-flex{ display: flex;} 
.d-none{ display: none;}

/** Flex **/
.flex-grow{ flex-grow: 1;}
.flex-column{ flex-direction: column;}
.flex-row{ flex-direction: row;}
.flex-row-reverse {flex-direction: row-reverse;}
.flex-wrap { flex-wrap: wrap;}

/** Align and justify **/

.justify-content-between { justify-content: space-between;}
.justify-content-center { justify-content: center;}
.align-items-center{ align-items: center;}
.justify-content-around { justify-content: space-around;}

